<p>employee works!</p>
 Welcome {{username}}!!!!

 <br>

 Route parameter:{{un}}
 <br>
Message from service:{{msg}}
 <br>
 <h1> REACTIVE FORMS </h1>
 <br>

<form [formGroup]="empForm" (ngSubmit)="empfun()">
Employee id:<input type="text" formControlName="eid">
<div style="color:red" *ngIf="empForm.get('eid').invalid && empForm.get('eid').touched">
    Employee id is must and min of 4 char
</div>
<br>
Employee Name:<input type="text" formControlName="ename">
<div style="color:red" *ngIf="empForm.get('ename').invalid && empForm.get('ename').touched">
    Employee name is must
</div>
<br>
<input type="submit" value="submit">
</form>



 <br>
    Enter the email:<input type="text" [formControl]="email">

    <br>
    Ur email is:{{email.value}}
    <br>
    <button (click)="updateEmail()">click here to update email</button>
    <br>
   