<p>pipes-demo works!</p>
<br>
Project Name:{{projectName}}
<br>
Uppercase Pipe:{{projectName|uppercase}}
<br>
Lowercase Pipe:{{projectName|lowercase}}
<br>
Date pipe:{{dateOfJoin|date:'short'}}
<br>
Date pipe:{{dateOfJoin|date:'long'}}
<br>
Date pipe:{{dateOfJoin|date:'d/M/y'}}
<br>
Date pipe:{{dateOfJoin|date:'shortTime'}}
<br>
Salary:{{salary}}
<br>
Currency Pipe:{{salary|currency:'USD'}}
<br>
Number Pipe:{{salary|number:'3.3'}}
<br>
Percentage Pipe:{{grade|percent}}
<br>
Slice Pipe:{{mark|slice:1:5}}

